[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Vista previa del archivo adjunto color.html [HTML] 2.3 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=1befa76e8a&attid=0.1&permmsgid=msg-f%3A1750728842482839523&th=184bd69b42386fe3&view=att&disp=inline&realattid=f_lb0jnqx81&ser=1
Icon=mate-fs-bookmark
